:root {
  --bg-color: #F6FFF8;        /* soft minty white */
  --text-color: #1E3D59;      /* deep navy */
  --primary-color: #3AAFA9;   /* mint teal */
  --secondary-color: #DEF2F1; /* pale aqua */
  --accent-color: #FFCB77;    /* warm pastel yellow */
  --border-color: #CFE6E4;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: block;
  padding: 20px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
}

a {
  text-decoration: none;
  color: var(--primary-color);
  transition: ease-in-out 0.3s;
}

nav ul li a {
  transition: all 0.3s ease;
}

nav ul li a:hover {
  color: var(--accent-color);
  text-shadow: 0 0 8px var(--accent-color);
  letter-spacing: 1px;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  gap: 2rem;
  height: 65vh;
}

.hero-text {
  max-width: 600px;
}

.hero-text h3 {
  font-size: 24px;
  font-family: monospace;
  color: var(--accent-color);
}

.red {
  color: var(--accent-color);
}

.hero-text h1 {
  font-size: 48px;
  margin: 10px 0;
  color: var(--primary-color);
  animation: fadeInUp 1s ease-out;
}

.hero-text p {
  color: #48636F;
  font-size: 16px;
  margin-bottom: 30px;
}

.btn {
  background-color: var(--primary-color);
  color: #fff;
  padding: 12px 25px;
  text-decoration: none;
  font-family: monospace;
  font-weight: bold;
  border-radius: 8px;
  box-shadow: 0 0 12px rgba(58, 175, 169, 0.4);
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background-color: var(--accent-color);
  color: var(--text-color);
  box-shadow: 0 0 20px rgba(255, 203, 119, 0.8);
}

.hero-image img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid var(--primary-color);
}

.nav-bar .container {
  display: flex;
  justify-content: space-between;
  align-items: center}